:host::ng-deep {
    .p-galleria-item {
        img {
            width: 200px;
        }
    }

    .p-button {
        width: 100%;
        height: 3rem;
    }

    .p-datepicker {
        width: 100%;
        height: 100%;
    }

}