:host::ng-deep {
    .layout-main-container {
        // padding: 0;
        padding: 6rem 0 0 0;

        .layout-main {
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }
}