<div class="p-fluid">
    <div class="w-full font-bold italic flex flex-col items-center text-4xl text-indigo-800 justify-center h-20 mb-4">
        <span class="uppercase mb-4">Các Tour du lịch mới nhất</span>
        <div class="w-[10%] h-[5px] rounded-lg bg-blue-800"></div>
    </div>
    <div class="w-full flex items-center justify-center">
        <div class="tour-list grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
            <app-new-tour-item *ngFor="let tour of tours" [tour]="tour"></app-new-tour-item>
        </div>
    </div>
</div>
