<div class="register-container">
    <div class="register-content">
        <div class="logo flex items-center">
            <img src="images/icon/logo.png" alt="Binh Dinh Tour Logo" />
            <span class="font-bold italic">VIET TRAVEL</span>
        </div>

        <div class="flex flex-1 items-center justify-center">
            <div [formGroup]="registerForm" class="w-full max-w-md">
                <div class="items-center justify-center">
                    <h2>Đăng ký</h2>
                </div>
                <div class="p-field">
                    <label for="username">Tên</label>
                    <input id="username" type="text" pInputText formControlName="username" placeholder="Tên" />
                </div>
                <div class="p-field">
                    <label for="email">Email</label>
                    <input id="email" type="email" pInputText formControlName="email" placeholder="Email" />
                </div>
                <div class="p-field">
                    <label for="phone">Số điện thoại</label>
                    <input id="phone" type="text" pInputText formControlName="phone" placeholder="Số điện thoại" />
                </div>
                <div class="p-field">
                    <label for="address">Địa chỉ</label>
                    <input id="address" type="text" pInputText formControlName="address" placeholder="Địa chỉ" />
                </div>
                <div class="p-field">
                    <label for="password">Mật khẩu</label>
                    <p-password id="password" formControlName="password" placeholder="Mật khẩu" [toggleMask]="true"></p-password>
                </div>
                <div class="p-field">
                    <label for="confirmPassword">Nhập lại mật khẩu</label>
                    <p-password id="confirmPassword" formControlName="confirmPassword" placeholder="Nhập lại mật khẩu" [toggleMask]="true"></p-password>
                </div>
                <p-button label="Đăng ký" type="submit" [disabled]="registerForm.invalid" styleClass="p-button-success" (onClick)="onSubmit()"></p-button>
                <div class="text-center text-sm mt-2">Đã có tài khoản? <a class="underline underline-offset-4" href="/login">Đăng nhập ngay</a></div>
            </div>
        </div>
    </div>
    <div class="background-image">
        <img src="images/uploadImage/register.jpg" alt="Beach Background" />
    </div>
</div>
