<!-- amenities.component.html -->
<div class="outer-container">
    <h3 class="text-center font-bold mb-8 uppercase">TIỆN NGHI CHỖ Ở</h3>
    <div class="card">
        <div class="amenities-container">
            <div class="checkbox-row">
                <span class="amenity-item">
                    <i class="pi pi-check"></i>
                    <span>Bể bơi [ngoài trời]</span>
                </span>
                <span class="amenity-item">
                    <i class="pi pi-check"></i>
                    <span>Dịch vụ vệ sinh</span>
                </span>
                <span class="amenity-item">
                    <i class="pi pi-check"></i>
                    <span>Chuyến du lịch</span>
                </span>
                <span class="amenity-item">
                    <i class="pi pi-check"></i>
                    <span>Dịch vụ bán thức ăn sáng mang về</span>
                </span>
            </div>
            <div class="checkbox-row">
                <span class="amenity-item">
                    <i class="pi pi-check"></i>
                    <span>Ô tô cho thuê</span>
                </span>
                <span class="amenity-item">
                    <i class="pi pi-check"></i>
                    <span>Dịch vụ đưa đón</span>
                </span>
                <span class="amenity-item">
                    <i class="pi pi-check"></i>
                    <span>Dịch vụ taxi</span>
                </span>
                <span class="amenity-item">
                    <i class="pi pi-check"></i>
                    <span>Đi lên bằng thang máy</span>
                </span>
            </div>
        </div>
        <div class="button-group">
            <button pButton type="button" icon="pi pi-arrow-left" class="p-button-text"></button>
            <button pButton type="button" icon="pi pi-arrow-right" class="p-button-text"></button>
        </div>
    </div>
</div>
