<div class="card tour-main lg:px-24 md:px-24">
    <div class="tour-header lg:w-w-full md:w-full font-bold">
        <div class="w-full flex">
            <p-breadcrumb class="max-w-full" [model]="items">
                <ng-template #item let-item>
                    <ng-container *ngIf="item.route; else elseBlock">
                        <a [routerLink]="item.route" class="p-breadcrumb-item-link">
                            <span [ngClass]="[item.icon ? item.icon : '', 'text-color']"></span>
                            <span class="text-primary font-semibold">{{ item.label }}</span>
                        </a>
                    </ng-container>
                    <ng-template #elseBlock>
                        <a [href]="item.url">
                            <span class="text-color">{{ item.label }}</span>
                        </a>
                    </ng-template>
                </ng-template>
            </p-breadcrumb>
        </div>
        <div class="w-full">
            <div class="text-center">
                <h1 class="text-blue-600">DU LỊCH HÀ NỘI</h1>
            </div>
        </div>
    </div>
    <div class="lg:w-full md:w-full sm:w-full flex">
        <div class="lg:w-1/4 md:w-1/4 sm:w-full pr-16">
            <app-hotel-search></app-hotel-search>
        </div>
        <div class="lg:w-3/4 md:w-3/4 sm:w-full">
            <div class="w-full">
                <div class="w-full flex font-bold text-xl h-16 items-center mb-2 border-b-2">
                    <div class="w-1/2">
                        <span>Chúng thôi tìm thấy <i class="text-lg">3</i> chương trình tour cho quý khác</span>
                    </div>
                    <div class="w-1/2 flex items-center">
                        <div class="w-1/3">
                            <span>Sắp xếp theo:</span>
                        </div>
                        <div class="w-2/3">
                            <p-select [(ngModel)]="selectedOption" [options]="sortOptions" optionLabel="name" placeholder="Giá" class="w-full md:w-56" />
                        </div>
                    </div>
                </div>
                <div class="w-full grid grid-cols-3 gap-4">
                    <div class="col-span-1" *ngFor="let hotel of hotels">
                        <app-hotel-item [hotel]="hotel"></app-hotel-item>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
