<div class="w-full border hover:border-blue-600 transition-all duration-300 rounded-2xl p-4">
    <div class="w-full flex gap-4">
        <div class="w-1/4 rounded-lg">
            <div class="w-full pb-1">
                <p-image src="images/uploadImage/room1phuquochotel.jpg" alt="Image" loading="lazy" class="w-full h-full" />
            </div>
            <div class="w-full flex gap-1">
                <div class="w-1/2">
                    <p-image src="images/uploadImage/room2phuquochotel.jpg" alt="Image" loading="lazy" class="w-full h-full" />
                </div>
                <div class="w-1/2">
                    <p-image src="images/uploadImage/room2phuquochotel.jpg" alt="Image" loading="lazy" class="w-full h-full" />
                </div>
            </div>
        </div>
        <div class="w-3/4">
            <label class="font-bold text-2xl">Phòng Tiêu chuẩn hướng thành phố</label>
            <div class="flex flex-row items-center justify-start gap-4">
                <div class="flex flex-row gap-4">
                    <i class="pi pi-user content-center"></i>
                    <p>1 người</p>
                </div>
                <div class="flex flex-row gap-4">
                    <i class="pi pi-arrow-up-right-and-arrow-down-left-from-center content-center"></i>
                    <p>20m&#178;</p>
                </div>
                <div class="flex flex-row gap-4">
                    <i class="pi pi-warehouse content-center"></i>
                    <p>1 giường đôi lớn hoặc 2 giường đơn</p>
                </div>
            </div>
            <hr class="w-full my-4" />
            <div class="w-full flex items-center">
                <div class="w-3/4 grid grid-cols-2 gap-4 font-medium text-xl">
                    <div class="span-col-1">
                        <div>
                            <p>Bữa sáng</p>
                        </div>
                        <div>
                            <p>Bãi đỗ xe</p>
                        </div>
                        <div>
                            <p>Nước uống chào đón</p>
                        </div>
                        <div>
                            <p>Cà phê & trà</p>
                        </div>
                    </div>
                    <div class="span-col-2">
                        <div>
                            <p>Wifi miễn phí</p>
                        </div>
                        <div>
                            <p>Nước uống</p>
                        </div>
                    </div>
                </div>
                <div class="w-1/4 text-center flex flex-col">
                    <span class="text-red-500 font-bold">7.265.538&nbsp;đ <small class="text-black">/ 1 Đêm</small></span>
                    <p-button label="Chọn phòng" [raised]="true" severity="danger" />
                </div>
            </div>
        </div>
    </div>
</div>
