.topbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0.5rem 1rem;
    background: #fff;
}

.topbar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    display: flex;
    align-items: center;
}

.menu-toggle {
    display: none;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.nav-items {
    display: flex;
    align-items: center;
    gap: 1rem;

    a {
        font-weight: 500;
        font-size: 1.2rem;
        font-family: 'Pacifico', cursive;
        ;
    }

    .nav-link {
        color: #333;
        text-decoration: none;
        padding: 0.5rem 1rem;

        &:hover {
            color: #007bff;
        }
    }
}

p-menu {
    display: none;

    &.p-menu-overlay {
        z-index: 1000;
    }

    .p-menuitem-link {
        color: #333;
        padding: 0.5rem 1rem;
    }

    .p-menuitem-link:hover {
        color: #007bff;
        background: transparent;
    }
}

.auth-buttons {
    display: flex;
    align-items: center;
}

.layout-topbar-action {
    background: transparent;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
}

/* Responsive */
@media (max-width: 1024px) {
    .menu-toggle {
        display: block;
    }

    .nav-items {
        display: none;
    }

    p-menu {
        display: none;
    }
}

@media (min-width: 1024px) {
    .nav-items {
        display: flex;
    }
}