:host ::ng-deep {
    img {
        display: inline;
    }

    .p-tabs {
        font-size: 1.5rem;

        .p-tablist {
            .p-tablist-content {
                justify-items: center;
            }
        }
    }
}