<div class="card-container home-main">
    <div class="w-full lg:flex card p-fluid gap-8">
        <div class="lg:w-1/4 sm:w-full w-full lg:pl-20 md:pl-20">
            <div class="w-full text-3xl font-bold pb-8">
                <img src="images/icon/logo.png" alt="" class="w-[100px] h-[100px]" />
                <span>VIET TRAVEL</span>
            </div>
            <div class="w-full pb-3">
                <app-search></app-search>
            </div>
        </div>
        <div class="lg:w-3/4 sm:w-full w-full lg:pr-24 md:pr-24">
            <p-image src="images/uploadImage/hanoicity.jpg" alt="Image" />
        </div>
    </div>
    <app-newtour></app-newtour>
</div>
