:host {
    display: block;
}

.translate-y-5 {
    transform: translateY(20px);
}

.translate-y-3 {
    transform: translateY(12px);
}

.translate-x-5 {
    transform: translateX(20px);
}

.translate-y-0 {
    transform: translateY(0);
}

.translate-x-0 {
    transform: translateX(0);
}

:host ::ng-deep {
    img {
        display: inline;
    }

    .p-tabs {
        font-size: 1.5rem;

        .p-tablist {
            .p-tablist-content {
                justify-items: center;
            }
        }
    }
}