<div class="card flex main-tour-item">
    <div class="w-2/5 h-full">
        <img src="images/uploadImage/hanoicity.jpg" alt="" style="width: 100%; height: 100%" />
    </div>
    <div class="w-3/5 flex h-full">
        <div class="w-full p-4">
            <div class="w-full font-bold text-2xl mb-4">
                <a class="line-clamp-2" href="">Hà Nội - Sapa - Fansipan - Yên Tử - Hạ Long - Ninh Bình - Tràng An - Bái Đính - Tặng Vé tàu hỏa leo núi Mường Hoa</a>
            </div>
            <div class="w-full grid grid-cols-1 gap-4 mb-4">
                <div class="col-span-1 w-full flex">
                    <div class="w-1/2 flex gap-2">
                        <i class="content-center pi pi-ticket text-xl"></i>
                        <span class="content-center text-xl">Mã tour: </span>
                        <span class="text-xl font-bold">NDSGN9013</span>
                    </div>
                    <div class="w-1/2 flex gap-2">
                        <i class="content-center pi pi-map-marker text-xl"></i>
                        <span class="content-center text-xl">Khởi hành: </span>
                        <span class="text-xl font-bold text-bule-400">TP. Hồ Chí Minh</span>
                    </div>
                </div>
                <div class="col-span-1 w-full flex">
                    <div class="w-1/2 flex gap-2">
                        <i class="content-center pi pi-clock text-xl"></i>
                        <span class="content-center text-xl">Thời gian: </span>
                        <span class="content-center text-xl">Trong ngày</span>
                    </div>
                    <div class="w-1/2 flex gap-2">
                        <i class="content-center pi pi-car text-xl"></i>
                        <span class="content-center text-xl">Phương tiện: </span>
                        <span class="content-center text-xl">Xe</span>
                    </div>
                </div>
                <div class="col-span-1 w-full flex">
                    <div class="w-1/2 flex gap-2">
                        <i class="content-center pi pi-calendar text-xl"></i>
                        <span class="content-center text-xl">Ngày khởi hành: </span>
                    </div>
                    <div class="w-1/2 flex gap-2">
                        <p-button label="21/6" variant="outlined" severity="danger" />
                        <p-button label="15/7" variant="outlined" severity="danger" />
                        <p-button label="16/8" variant="outlined" severity="danger" />
                    </div>
                </div>
            </div>
            <div class="w-full flex">
                <div>
                    <div>Giá từ</div>
                    <div class="text-red-500 font-bold text-2xl">159.990.000&nbsp; đ</div>
                </div>
                <div class="ml-auto">
                    <p-button label="Xem chi tiết" severity="info" routerLink="{{ tour.id }}" />
                </div>
            </div>
        </div>
    </div>
</div>
