<div class="max-w-7xl mx-auto px-4 sm:px-6 py-4">
    <p-toast position="top-right"></p-toast>
    <div class="mb-6">
        <p-breadcrumb [model]="items" class="max-w-full">
            <ng-template pTemplate="item" let-item>
                <ng-container *ngIf="item.route; else externalLink">
                    <a [routerLink]="item.route" class="text-blue-600 font-semibold hover:underline">
                        <i *ngIf="item.icon" [ngClass]="item.icon" class="mr-2"></i>
                        {{ item.label }}
                    </a>
                </ng-container>
                <ng-template #externalLink>
                    <a [href]="item.url" class="text-gray-600 hover:underline">
                        {{ item.label }}
                    </a>
                </ng-template>
            </ng-template>
        </p-breadcrumb>
        <h1 class="text-3xl font-bold text-blue-600 text-center">DU LỊCH HÀ NỘI</h1>
    </div>

    <div class="flex flex-col lg:flex-row gap-4">
        <div class="lg:w-1/4 w-full">
            <app-tour-search (filterChange)="onFilterChange($event)"></app-tour-search>
        </div>
        <div class="lg:w-3/4 w-full">
            <div class="flex flex-col sm:flex-row items-center justify-between mb-4 pb-2 border-b-2 border-gray-200">
                <div class="mb-2 sm:mb-0">
                    <span class="text-xl font-bold">
                        Chúng tôi tìm thấy <span class="text-blue-600">{{ tours.length || 0 }}</span> tour cho quý khách
                    </span>
                </div>
                <div class="w-1/2 flex items-center">
                    <div class="w-1/3">
                        <span>Sắp xếp theo:</span>
                    </div>
                    <div class="w-2/3">
                        <p-select [(ngModel)]="selectedOption" (onChange)="onSortChange()" [options]="sortOptions" optionLabel="name" placeholder="Sắp xếp" class="w-full md:w-56" />
                    </div>
                </div>
            </div>

            <ng-container *ngIf="loading">
                <div class="p-4 mb-4">
                    <p>Loading tours...</p>
                </div>
            </ng-container>

            <!-- <ng-container *ngIf="error">
                <div class="p-4 mb-4">
                    <p class="text-red-500">{{ error }}</p>
                </div>
            </ng-container> -->

            <ng-container *ngIf="tours?.length && !loading && !error">
                <app-tour-item *ngFor="let tour of tours" [tour]="tour"></app-tour-item>
            </ng-container>

            <ng-container *ngIf="!tours?.length && !loading && !error">
                <div styleClass="p-4 mb-4">
                    <p>Không tìm thấy tour nào.</p>
                </div>
            </ng-container>
        </div>
    </div>
</div>
