<div class="login-container">
    <p-toast position="top-right"></p-toast>
    <div class="login-content">
        <div class="logo flex items-center">
            <img src="images/icon/logo.png" alt="VietTravel Tour Logo" />
            <span class="font-bold italic">VIET TRAVEL</span>
        </div>
        <div class="flex flex-1 items-center justify-center max-h[80%]">
            <div [formGroup]="loginForm" class="w-full max-w-md">
                <div class="flex flex-col items-center justify-center gap-6">
                    <h2>Đăng nhập</h2>
                    <p class="text-lg text-sm text-muted-foreground">Điền email và mật khẩu để đăng nhập</p>
                </div>
                <div class="p-field">
                    <label for="email">Email</label>
                    <input id="email" type="email" pInputText formControlName="email" placeholder="Email" />
                </div>
                <div class="p-field">
                    <label for="password">Mật khẩu</label>
                    <p-password id="password" [feedback]="false" formControlName="password" placeholder="Mật khẩu" [toggleMask]="true"></p-password>
                </div>
                <div class="flex flex-col gap-4">
                    <p-button label="Đăng nhập" type="submit" [disabled]="loginForm.invalid" (onClick)="onSubmit()" styleClass="p-button-success"></p-button>
                </div>
                <div class="register-link">
                    <p>Chưa có tài khoản? <a [routerLink]="['/register']">Đăng ký ngay</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="background-image">
        <img src="images/uploadImage/register.jpg" alt="Beach Background" />
    </div>
</div>
