<div class="p-fluid">
    <div class="font-bold text-4xl flex flex-col justify-items-start items-start text-indigo-800 mb-2">
        <div class="mb-2">
            <span class="uppercase">Khám phá sản phẩm vietravel</span>
        </div>
        <div class="w-1/5 h-[5px] rounded-lg bg-blue-800"></div>
    </div>
    <div class="flex text-xl justify-items-start items-start mb-8">
        <span class="w-3/5 font-medium"
            >Hãy tận hưởng trải nghiệm du lịch chuyên nghiệp, mang lại cho bạn những khoảnh khắc tuyệt vời và nâng tầm cuộc sống. Chúng tôi cam kết mang đến những chuyến đi đáng nhớ, giúp bạn khám phá thế giới theo cách hoàn hảo nhất.</span
        >
    </div>
    <div class="text-xl justify-items-start items-start mb-2">
        <div class="grid grid-cols-2 lg:grid-cols-3 gap-4">
            <div class="rounded-lg relative col-span-1">
                <div class="justify-center h-60 lg:h-80">
                    <p-image class="w-full h-full" src="images/banner/du-lich-le-30-4.jpg" alt="Image" />
                </div>
                <div class="w-full absolute text-center text-white font-bold bottom-10 left-0">
                    <label class="Uppercase">Tour Lễ 30/4 giá tốt cho Gia đình</label>
                </div>
            </div>
            <div class="rounded-lg relative col-span-1">
                <div class="justify-center h-60 lg:h-80 flex-1">
                    <p-image class="w-full h-full" src="images/banner/du-lich-mien-bac.jpg" alt="Image" />
                </div>
                <div class="w-full absolute text-center text-white font-bold bottom-10 left-0">
                    <label class="Uppercase">Tour du lịch Miền Bắc </label>
                </div>
            </div>
            <div class="rounded-lg relative col-span-1">
                <div class="justify-center h-60 lg:h-80">
                    <p-image class="w-full h-full" src="images/banner/du-lich-mien-nam.jpg" alt="Image" />
                </div>
                <div class="w-full absolute text-center text-white font-bold bottom-10 left-0">
                    <label class="Uppercase">Tour du lịch miền nam</label>
                </div>
            </div>
        </div>
    </div>
</div>
