:host {
    display: block;
    background-color: #f5f7fa;

    .container {
        top: 6rem;
        max-width: 1200px;
        margin: 0 auto;
        height: calc(100vh - 8rem);

        .card {
            height: calc(100vh - 8rem);
            background: white;
            border-radius: 12px;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
            padding: 2rem;
            position: relative;
        }
    }
}

:host::ng-deep {
    .p-paginator {
        position: fixed;
        bottom: 3rem;
    }
}